doctype html src="script.js"
html
  head
    title HS-Kartensuche
    link(rel='stylesheet',type="text/css", href='../public/stylesheets/style.css')
  body.

    <h1>Hearthstone</h1><p>

    Karten Suche: <br>
    <input id="myInput" type="text" name="myInput"> <p>
    <button id="myButton" onClick="myFunction()">Suche</button>
    <p id="demo"></p>
    <button onclick="window.location.href='/users'">Neue Seite</button>
  
    <script>

      function myFunction() {
        var erg = document.getElementById("myInput").value;
        document.getElementById("demo").innerHTML = erg;
      }
      
    </script>
  </body>
