doctype html
html
  head
    title HS-Kartensuche
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.
    
    <h1>Hearthstone</h1><br><br>
    <form action = "/v1">
      Karten Suche: <br>
      <input id="myInput" type="text" name="name"> <br><br>
      <button id="myButton" onClick="myFunction()">Suche</button>
      <p id="demo"></p>
      
    </form>
  </body>
