doctype html
html
  head
    title HS-Kartensuche
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.
    
    <h1>Hearthstone-Kartensuche</h1><br>
    <h3>Geben sie im unteren Textfeld die Karte ein, die Sie suchen </h3><br>
    <form action = "/v1">
      Karten Suche: <br>
      <input id="myInput" type="text" name="name"> <br><br>
      <button id="myButton" onClick="myFunction()">Suche</button>
      <p id="demo">Testeingaben : Ysera, Acidmaw, Acolyte of Pain, Air Elemental, Animal Companion</p>
    </form>
  </body>
